
<div class="usersList">
dsadasdad
</div>
<div #saveUserForm class="card">
  <form #userform = "ngForm" (submit)="saveUser(userform.value)">
    <input name="name" type="text" placeholder="name" required ngModel> <br>
    <input name="email" type="text" placeholder="email" required ngModel><br>
    <button class="btn btn-info" type="submit">Save</button>
  </form>
  <hr>
  <button class="btn btn-danger" (click)="logout()">Log out</button>
  <button class="btn btn-danger" (click)="getAllUser()">Get All User</button>
</div>
